.firstInput {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
#row {
    border: 2px solid blue; 
    padding: 5px;
}
.secendInput {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
#column {
    border: 2px solid blue; 
    padding: 5px;
}
.secendButton {
    padding: 5px;
}
.header {
    position: relative;
}
#table1{
    position: absolute;
    left: 145px;
    border: 2px solid;
    padding: 20px;
}
td {
    border: 2px solid;
    padding: 20px;
}
