* {
    box-sizing: content-box;
}

#row {
    border: 2px solid blue;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

#column {
    border: 2px solid blue;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

.secendButton {
    padding: 5px;
}

.header {
    position: relative;
}

#table1 {
    border-collapse: collapse;
    position: absolute;
    left: 195px;
    table-layout: fixed;
}

td {
    padding: 20px;
    text-align: left;
    border: 2px solid;
}